@charset "UTF-8";

/* light theme color */
$light-background: #F0E6ED;
$light-background-secondary: #E0CCDC;
$light-color: #3F2640;
$light-color-secondary: #483351;
$light-accent-color: #D0B3CB; // same as dark font color

/* dark theme colors */
$dark-background: #211825;
$dark-background-secondary: #2C2031;
$dark-color: #D0B3CB; // same as $light-accent-color
$dark-color-secondary: #b68aae;
$dark-accent-color: #483351;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
