{{ define "main" }}
    <main class="container">
        {{ if .Site.Params.Portrait.Path }}
        <img src="{{ .Site.Params.Portrait.Path }}"
            class="circle"
            alt="{{ .Site.Params.Portrait.Alt }}" 
            style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
        {{ end }}

        <h1 class="site-title">{{ .Site.Title }}</h1>
        {{- with .Site.Params.homeSubtitle }}
            <p>{{.}}</p>
        {{- end }}

        {{ if not .Site.Params.footerSocial }}
        {{- with .Site.Params.social }}
            <div>
            {{ partial "social-icons.html" . }}
            </div>
        {{- end }}
        {{ end }}
    </main>
{{ end }}
